.env
.env.*
!.env.example

.DS_Store
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
vendor/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.cache
bootstrap/cache/

dist/
build/
.next/